* {
    font-family: 'Raleway', sans-serif;
}
body{
    margin: 0px;
    text-align: center;
}
h1 {
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
    padding-top: 100px;
    color: #5b5b5b;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #5b5b5b;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #c19065;
}
p {
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
}
.top-container {
    background-color:#b67171;
    position: relative;
    padding-top: 100px;
}
.middle-container {
    position: relative;
    top: 10px;
    text-align: center;
    margin: 100px 0;
}
.bottom-container {
    background-color: #c19065;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-top: 35px;

}
.tc {
    position: absolute;
   right: 450px;
   margin-bottom: 25px;
}
.bc {
    position: absolute;
    left: 400px;
    bottom: 300px;
}
.p1 {
    font-size: 2.5rem;
    color: #5b5b5b;
    font-weight: normal;
}
.p2{
    padding: 25px;
}
.pro {
    text-decoration: underline;
    
}
.footer-link {
    color: #b67171;
    font-weight: bolder;
}
.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}
.c-img {
    border-radius: 100%;
    width: 15%;
}
.camera-img {
    width: 25%;
    float: left;
    margin-right: 40px;
}
.pc-img {
    width: 25%;
    float: right;
    margin-left: 20px;
}
hr {
    border-style: none;
    border-top: 8px dotted #b67171;
    color: #b67171; 
    width: 5%;
    /* margin-top: 75px;
    margin-bottom: 100px; */
    margin: 100px auto;
}
.main-p {
    text-align: center;
    width: 700px;
    margin: auto;
}
.btn {
    background: #b67171;
    background-image: -webkit-linear-gradient(top, #b67171, #b6666);
    background-image: -moz-linear-gradient(top, #b67171, #b6666);
    background-image: -ms-linear-gradient(top, #b67171, #b6666);
    background-image: -o-linear-gradient(top, #b67171, #b6666);
    background-image: linear-gradient(to bottom, #b67171, #b6666);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #c76868;
    background-image: -webkit-linear-gradient(top, #c76868, #e08989);
    background-image: -moz-linear-gradient(top, #c76868, #e08989);
    background-image: -ms-linear-gradient(top, #c76868, #e08989);
    background-image: -o-linear-gradient(top, #c76868, #e08989);
    background-image: linear-gradient(to bottom, #c76868, #e08989);
    text-decoration: none;
  }